// Main SCSS all to be tidied

@import 'mixins';
@import 'colours';
@import 'carousel';
@import 'nav';
@import 'spinner';
@import 'alert';
@import 'card';
@import 'backgroundSlide';

body {
  color: $black;
  font-family: 'Roboto Mono';
  overscroll-behavior: none;
}

.btn-card {
  width: 100%;
}

.container {
    &-main {
        position: relative;
    }
}

.email-suggestion a {
    text-decoration: underline;
    cursor: pointer;
}

.work-list{
    animation: slidein 3s;
}

.work-pointer {
    animation: 3s workpointer infinite;
}

@keyframes workpointer {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-10px);
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}

input {
  float: right;
}

.linkedinLogo, .work-image {
    display: inline-block;
    height: 50px;
    width: 50px;
}

.work-list {
    list-style: none;

    li {
        display: inline;
        padding: 2%;
    }
}

.overlay {
    background-color: #141c3a;
}

.spinner {
    /* If it is displayed in a flex container */
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner::before {
    content: "";
    display: inline-block;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.spinner-small::before {
    width: 24px;
    height: 24px;
}

.spinner-medium::before {
    width: 50px;
    height: 50px;
}

.spinner-large::before {
    width: 100px;
    height: 100px;
}


.work-thumbnail {
    transform: scale(1);
    transition: .25s ease-in-out;
}



/* BELOW HEER ARE IMPORTS OF TEST STYLING SHEETS */






/* https://codepen.io/jouanmarcel/pen/NLgVjm */
@import 'futureHover';

/* https://codepen.io/tobiasglaus/pen/wxepwv */
@import 'shakeHover';


